<mat-card>
  <mat-card-title>
      {{title}}
  </mat-card-title>
  <div class="wrapper">
    <section class="board">
      <nav>
          Show:
          <button mat-flat-button [color]="!mode && 'primary'" routerLink="/board"> All</button>
          <button mat-flat-button [color]="mode === status.TODO && 'primary'" routerLink="/board/{{status.TODO}}" > To Do</button>
          <button mat-flat-button [color]="mode === status.WIP && 'primary'" routerLink="/board/{{status.WIP}}"> WiP</button>
          <button mat-flat-button [color]="mode === status.DONE && 'primary'" routerLink="/board/{{status.DONE}}"> Done</button>
        </nav>
      <section class="grid">
        <h2 class="todo">
          To Do
        </h2>
        <h2 class="wip">
          Work In Progress
        </h2>
        <h2 class="done">
          Done
        </h2>
        <app-task *ngFor="let task of tasks" [task]="task" (changeStatus)="onTaskStatusChange($event)"
          [ngClass]="task.status">
        </app-task>
      </section>
    </section>

    <section class="new">
      <app-tasks-form (newTask)="onNewTask($event)">
      </app-tasks-form>
    </section>
  </div>
</mat-card>